<%= form_for(@sign_page) do |f| %>   
<script src="../jquery.signaturepad.js"></script>
<script>
  $(document).ready(function() {
    $('.sigPad').signaturePad();
  });
</script>
<script src="../assets/json2.min.js"></script>
  <% if @sign_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sign_page.errors.count, "error") %> prohibited this sign_page from being saved:</h2>

      <ul>
      <% @sign_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <label for="name">Print your name</label>
  <input type="text" name="name" id="name" class="name">
  <p class="typeItDesc">Review your signature</p>
  <p class="drawItDesc">Draw your signature</p>
  <ul class="sigNav">
    <li class="typeIt"><a href="#type-it" class="current">Type It</a></li>
    <li class="drawIt"><a href="#draw-it" >Draw It</a></li>
    <li class="clearButton"><a href="#clear">Clear</a></li>
  </ul>
  <div class="sig sigWrapper">
    <div class="typed"></div>
    <canvas class="pad" width="198" height="55"></canvas>
    <input type="hidden" name="output" class="output">
  </div>
  <button type="submit">I accept the terms of this agreement.</button>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
