<script>
  $(function() {
    $('.signature_form')
    .signaturePad({
      drawOnly: true,
      validateFields: false,
      lineTop: #{Signature::HEIGHT - 30}
    })
    .regenerate(#{JSON.parse(@signature.signature || "[]").to_json});
  });
</script>

<% form_for @sign_page, :html => { :class => 'signature_form' } do |form| %>
  <dl>
    <dt>
      <%= form.label :name %>
    </dt>
    <dd>
      <%= form.text_field :name %>
    </dd>
    <dt>
      <%= form.label :signature %>
    </dt>
    <dd>
      <div class="sig sigWrapper" style="width: <%= SignPage::WIDTH %>px; height: <%= SignPage::HEIGHT %>px;">
        <canvas class="pad" height="<%= SignPage::HEIGHT %>" width="<%= SignPage::WIDTH %>"></canvas>
        <%= form.hidden_field :signature, :value => nil, :class => 'output' %>
      </div>
    </dd>
  </dl>
<% end %>
