<p id="notice"><%= notice %></p>

<h1>Listing Sign Pages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sign_pages.each do |sign_page| %>
      <tr>
        <td><%= sign_page.name %></td>
        <td><%= link_to 'Show', sign_page %></td>
        <td><%= link_to 'Edit', edit_sign_page_path(sign_page) %></td>
        <td><%= link_to 'Destroy', sign_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sign page', new_sign_page_path %>
